.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero-section {
	margin-bottom: 10px;
}

.hero-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.hero-item .text {
	margin-right: 2px;
}
